<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Sistema de Apoio ao Controle Interno de Quantitativos - SACIQ</title>
    
        {LIBRARIES}
        {HEAD}
        
        <!--suppress HtmlUnknownTarget -->
        <link href="app/templates/{template}/metisMenu/metisMenu.css" rel="stylesheet">
        <link href="app/templates/{template}/sb-admin-2.css" rel="stylesheet">
        <script src="app/templates/{template}/metisMenu/metisMenu.js"></script>
        <script src="app/templates/{template}/sb-admin-2.js"></script>
        
        <script type="text/javascript">
        $(function() {
            $('ul.level-2').addClass('in');
        });
        </script>
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav role="navigation" style="margin-bottom: 0">
                <div style="position: absolute"> <img id="img-logo" src="app/images/logo.png" alt="logo1"/>
                <div class="navbar-default sidebar" role="navigation" style="margin-top: 00px">
                    <div class="sidebar-nav navbar-collapse">
                    
                    {MENU}
                    
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
    
            <div id="page-wrapper" style="padding-top: 20px;">
                <div id='adianti_div_content'>
                </div>
            </div>
            <!-- /#page-wrapper -->
    
            <script type="text/javascript">
                //#javascript_placeholder#
            </script>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            
        </div>
        <!-- /#wrapper -->
        <div class="rodape" style="padding-bottom: 50px">
            SACIQ - Sistema de Apoio ao Controle Interno de Quantitativo - V1.0 :: IFSP - Câmpus Capivari
            <br>
            Equipe: Anderson A. de Castro, Lucas Bonetti, Vitor C. Fermino
        </div>
    </body>
</html>